:root {
  background: white;
}

* {
  color: black;
}

h1 {
  background: blue;
}

p.green {
  color: green;
}

#blue {
  color: blue;
}

.card-body .box div {
  background: green;
}

.card-body .box p {
  background: red;
}

.card-body .brown {
  color: white;
  background: brown;
}

.card-body ul > li {
  background: red;
}

.card-body .header-button + span {
  background: red;
}

.susid ~ p {
  background: blue;
  color: white;
}

.salo,
#bread {
  background: yellow;
}

/*lesson 2*/

.first-task li:first-child {
  color: white;
}

.second-task ul:first-child li:first-child {
  color: yellow;
}

.third-task ul:last-child :first-child {
  color: yellow;
}

.four-task :last-child {
  background: yellow;
}

.five-task ul:last-child li:last-child {
  background: white;
}

.only-child-task div:only-child {
  background: red;
}

.seven-task p:first-of-type {
  background: red;
}

.eight-task span:last-of-type {
  background: red;
}

.nine-task p:only-of-type {
  background: yellow;
}

/*lesson 3*/

.lesson-three-task-one a[href] {
  color: white;
}

.lesson-three-task-two [value] {
  color: yellow;
}

.lesson-three-task-three [value='3'] {
  background: red;
}

.lesson-three-task-four [class~='primary'] {
  background: blue;
}

.lesson-three-task-five [class|='secondary'] {
  background: red;
}

.lesson-three-task-six li[class^='b'] {
  background: white;
  color: green;
}

.lesson-three-task-seven li[class*='on'] {
  background: white;
  color: green;
}

.lesson-three-task-eight [class$='s'] {
  background: white;
  color: blue;
}

.lesson-three-task-nine h2::first-letter {
  color: red;
}

.lesson-three-task-ten::first-line {
  background: yellow;
}

.lesson-three-task-eleven input::placeholder {
  background: red;
}

.lesson-three-task-twelve li::before {
  content: '➤ ';
}

.lesson-three-task-thirteen li::after {
  content: ' ➤ ';
  color: green;
}

.lesson-three-task-thirteen li::after {
  content: ' ➤ ';
  color: green;
}
